*~
*.swp
*.swo

### CMake template
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

generated-src/
test/build
deps/openssl
deps/curl-android-ios-*
deps/jansson-*
src/ndk_build
src/build
src/openssl-dev-1.0.2o-android.tar.gz
src/libcurl-android-ios.zip
jansson_v2.11.zip
