*~
*.swp

### CMake template
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

generated-src/
test/build
deps/openssl
src/ndk_build
src/openssl-dev-1.0.2o-android.tar.gz
